@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Bungee+Inline&family=Caveat&family=Dhurjati&family=Hedvig+Letters+Serif:opsz@12..24&family=Honk&family=Lora&family=Pacifico&family=Protest+Revolution&family=Smooch&family=Space+Mono&family=Splash&family=Unbounded&display=swap');

:root { /* Fonts & Colors organized by ordinal precedence. */
    --primary-font: 'Smooch', cursive;
    --secondary-font: 'Bungee Inline', sans-serif;
    --tertiary-font: 'Honk', system-ui;
    --quaternary-font: 'Lora', serif;
    --quinary-font: 'Protest Revolution', sans-serif;
    --primary-color: rgb(37, 37, 37);
    --secondary-color: rgb(226, 226, 226);
    --tertiary-color: rgb(0, 0, 0);
}

.primary-font {
    font-family: var(--primary-font);
}
.secondary-font {
    font-family: var(--secondary-font);
}
.tertiary-font {
    font-family: var(--tertiary-font);
}
.quaternary-font {
    font-family: var(--quaternary-font);
}
.quinary-font {
    font-family: var(--quinary-font);
}
.primary-color {
    color: var(--primary-color);
}
.secondary-color {
    color: var(--secondary-color);
}
.tertiary-color {
    color: var(--tertiary-color);
}

.site-header {
    font-size: 40px;
    /* background: linear-gradient(45deg, blue, red) */
    /* color: rgb(51, 51, 51); */
    /* color: rgb(113, 113, 113); */
}

.title:link {
    color: rgb(83, 223, 248);
}
.title:visited {
    color: rgb(0, 0, 0);
}
.title:hover {
    color: rgb(248, 83, 83);
}
.title:active {
    color: rgb(232, 248, 83);
}

.slider {
    background: url(/images/0_-_fantasy_map_dark_theme.png);
    opacity: 0.75;
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
    /*animation: slide 40s infinite ;  /*? for Shortened Animation */
    animation: slide 300s infinite ;  /*? for Lengthened Animation */
}

.z {
    z-index: 0;
}

.rpgui-container {
    position: relative !important;
}

/*? Shortened Animation */
/* @keyframes slide {
    0% {
        opacity: 1;
    }
    20% {
        background-image: url(/images/0_-_fantasy_map_dark_theme.png);
        opacity: 1;
    }
    25% {
        background-image: url(/images/1_-_fantasy_map_world_dark_colors.png);
        opacity: 1;
    }
    45% {
        background-image: url(/images/1_-_fantasy_map_world_dark_colors.png);
        opacity: 1;
    }
    50% {
        background-image: url(/images/2_-_fantasy_map_dark_colors.png);
        opacity: 1;
    }
    70% {
        background-image: url(/images/2_-_fantasy_map_dark_colors.png);
        opacity: 1;
    }
    75% {
        background-image: url(/images/3_-_fantasy_map_world_dark_colors.png);
        opacity: 1;
    }
    95% {
        background-image: url(/images/3_-_fantasy_map_world_dark_colors.png);
        opacity: 1;
    }
    100%{
        background-image: url(/images/0_-_fantasy_map_dark_theme.png);
        opacity: 1;
    }
} */

/*? Lengthened Animation */
@keyframes slide {
    0% {
        opacity: 0.75;
    }
    8% {
        background-image: url(/images/0_-_fantasy_map_dark_theme.png);
        opacity: 0.75;
    }

    10% {
        background-image: url(/images/1_-_fantasy_map_world_dark_colors.png);
        opacity: 0.75;
    }
    17% {
        background-image: url(/images/1_-_fantasy_map_world_dark_colors.png);
        opacity: 0.75;
    }
    19% {
        background-image: url(/images/2_-_fantasy_map_dark_colors.png);
        opacity: 0.75;
    }
    26% {
        background-image: url(/images/2_-_fantasy_map_dark_colors.png);
        opacity: 0.75;
    }
    28% {
        background-image: url(/images/3_-_fantasy_map_world_dark_colors.png);
        opacity: 0.75;
    }
    35% {
        background-image: url(/images/3_-_fantasy_map_world_dark_colors.png);
        opacity: 0.75;
    }

    37% {
        background-image: url(/images/4_-_map_roleplay_world_quest_dark_theme.png);
        opacity: 0.75;
    }
    44% {
        background-image: url(/images/4_-_map_roleplay_world_quest_dark_theme.png);
        opacity: 0.75;
    }
    46% {
        background-image: url(/images/5_-_fantasy_map_dark_theme.png);
        opacity: 0.75;
    }
    53% {
        background-image: url(/images/5_-_fantasy_map_dark_theme.png);
        opacity: 0.75;
    }
    55% {
        background-image: url(/images/6_-_fantasy_map_world_dark_colors.png);
        opacity: 0.75;
    }
    62% {
        background-image: url(/images/6_-_fantasy_map_world_dark_colors.png);
        opacity: 0.75;
    }
    64% {
        background-image: url(/images/7_-_map_roleplay_world_quest.png);
        opacity: 0.75;
    }

    71% {
        background-image: url(/images/7_-_map_roleplay_world_quest.png);
        opacity: 0.75;
    }
    73% {
        background-image: url(/images/8_-_fantasy_map_world_dark_colors.png);
        opacity: 0.75;
    }
    80% {
        background-image: url(/images/8_-_fantasy_map_world_dark_colors.png);
        opacity: 0.75;
    }
    82% {
        background-image: url(/images/9_-_map_roleplay_world_quest_dark_theme.png);
        opacity: 0.75;
    }
    89% {
        background-image: url(/images/9_-_map_roleplay_world_quest_dark_theme.png);
        opacity: 0.75;
    }
    91% {
        background-image: url(/images/10_-_map_roleplay_world_quest.png);
        opacity: 0.75;
    }
    98% {
        background-image: url(/images/10_-_map_roleplay_world_quest.png);
        opacity: 0.75;
    }

    100%{
        background-image: url(/images/0_-_fantasy_map_dark_theme.png);
        opacity: 0.75;
    }
}


@media screen and (max-width: 652px) {
    .mobile {
        margin-top: 24px !important;
    }
    .mobile-scrollbar {
        height: 651px !important;
    }
}