@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Bungee+Inline&family=Caveat&family=Dhurjati&family=Hedvig+Letters+Serif:opsz@12..24&family=Honk&family=Lora&family=Pacifico&family=Protest+Revolution&family=Smooch&family=Space+Mono&family=Splash&family=Unbounded&display=swap');

:root { /* Fonts & Colors organized by ordinal precedence. */
    --primary-font: 'Smooch', cursive;
    --secondary-font: 'Bungee Inline', sans-serif;
    --tertiary-font: 'Honk', system-ui;
    --quaternary-font: 'Lora', serif;
    --quinary-font: 'Protest Revolution', sans-serif;
    --primary-color: rgb(37, 37, 37);
    --secondary-color: rgb(226, 226, 226);
}

.primary-font {
    font-family: var(--primary-font);
}
.secondary-font {
    font-family: var(--secondary-font);
}
.tertiary-font {
    font-family: var(--tertiary-font);
}
.quaternary-font {
    font-family: var(--quaternary-font);
}
.quinary-font {
    font-family: var(--quinary-font);
}
.primary-color {
    font-family: var(--primary-color);
}
.secondary-color {
    font-family: var(--secondary-color);
}

.site-header {
    font-size: 40px;
}

/* .slider { */
    /* width: 100%;
    height: 100%; */
    /* background-image: radial-gradient(rgba(25, 0, 255, 0), rgb(25, 19, 56)), url(../../client/public/images/0_-_fantasy_map_dark_theme.png);
    background-size: cover;
    animation: slide 20s infinite;
} */

.slider {
    background: url(../../client/public/images/0_-_fantasy_map_dark_theme.png);
    background-size: cover;
    animation: slide 40s infinite ;
}

/*? Animation */
@keyframes slide {
    0% {
        opacity: 1;
    }
    25% {
        background-image: url(../../client/public/images/1_-_fantasy_map_world_dark_colors.png);
        opacity: 1;
    }
    50% {
        background-image: url(../../client/public/images/2_-_fantasy_map_dark_colors.png);
        opacity: 1;
    }
    75% {
        background-image: url(../../client/public/images/3_-_fantasy_map_world_dark_colors.png);
        opacity: 1;
    }
    100% {
        background-image: url(../../client/public/images/0_-_fantasy_map_dark_theme.png);
        opacity: 1;
    }
}

/* @keyframes slide {
    0% {
        background: radial-gradient(rgba(25, 0, 255, 0), rgb(25, 19, 56)), url(../../client/public/images/3_-_fantasy_map_world_dark_colors.png);
        background-size: cover; */
        /* opacity: 0; */
    /* }
    25% {
        background: radial-gradient(rgba(25, 0, 255, 0), rgb(25, 19, 56)), url(../../client/public/images/1_-_fantasy_map_world_dark_colors.png);
        background-size: cover; */
        /* opacity: 1; */
    /* }
    50% {
        background: radial-gradient(rgba(25, 0, 255, 0), rgb(25, 19, 56)), url(../../client/public/images/2_-_fantasy_map_dark_colors.png);
        background-size: cover; */
        /* opacity: 1; */
    /* }
    75% {
        background: radial-gradient(rgba(25, 0, 255, 0), rgb(25, 19, 56)), url(../../client/public/images/3_-_fantasy_map_world_dark_colors.png);
        background-size: cover; */
        /* opacity: 1; */
    /* } */
    /* 100% {
        background: radial-gradient(rgba(25, 0, 255, 0), rgb(25, 19, 56)), url(../../client/public/images/3_-_fantasy_map_world_dark_colors.png);
        background-size: cover;
        opacity: 0;
    } */
/* } */

/* .montage {
    width: 100px;
    height: 100px;
    background: url(../../client/public/images/0_-_fantasy_map_dark_theme[1].png) left top;
    animation: play-sprite 0.8s steps(4) infinite;
}

@keyframes play-sprite {
    100% { background-position: -400px; }
} */